*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.main {
  background-image: url(https://i.postimg.cc/2yX2vwTT/clouds-background-005.jpg);
  background-size: cover;
  height: 10% !important;
}

.navBar {
  width: 100vw;
}

.navButton {
  color: white !important;
}

.navTitle {
  color: white;
}

.mainCard {
  border: none;
  width: auto;
  overflow: scroll;
  max-height: 500px;
  max-height: 300px;
  width: auto;
}

.mainCDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.mainGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "ws hm uv" "tp mp dt";
  padding: 10px;
}

.ws {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ws;
}

.humidity {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hm;
}

.uv {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: uv;
}

.temp {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tp;
}

.map {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mp;
}

.detail {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: dt;
}

.windText {
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px;
}

.card-items {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

svg {
  text-align: center;
}

.footer {
  background-color: #1474F6;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100% !important;
}

p a {
  color: white;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
  width: 200px;
  height: 200px;
  border: black 1px solid;
}

.calendar {
  width: auto;
  margin-top: 20px;
}

.card-header {
  background-color: grey !important;
  color: white;
  font-size: 20px !important;
}

.weekly {
  background-color: #19f7e4;
  border-radius: 15px;
  border: black 1px solid;
}

.weeklyContainer {
  border-radius: 15px;
}

.box-rest {
  border: none !important;
  border-left: 1px solid black !important;
}

.box-first {
  border: none !important;
  border-right: 1px solid black !important;
}

.box-last {
  border: none !important;
  border-left: 1px solid black !important;
}

.graphThing {
  background-color: white;
}

.box {
  height: auto;
}

.iconThing {
  margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00193b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e4899;
}

.dropdown-menu-center {
  text-align: center !important;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: blue;
}

li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dropdownToggle {
  margin-bottom: 25px !important;
}

.hourlyContainer {
  border: 2px black solid;
  margin: 0 auto;
  padding: 25px;
  background-image: url(https://i.postimg.cc/2yX2vwTT/clouds-background-005.jpg);
  background-size: cover;
}

#hourlyCard {
  width: auto;
  margin: 1% auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hourlyTitle {
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  width: 25%;
  margin: 1% auto;
}

#text {
  font-size: large;
}

#card-flex #hour {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-cards {
  font-size: large;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hourly-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hourly-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: static;
}

.windCard {
  max-height: 200px;
  max-width: 200px;
}
/*# sourceMappingURL=style2.css.map */