// Main vars

$main-font: sans-serif;
// Colors
$darkblue-color: #1474f6;
$midblue-color: #1197d4;
$lightblue-color: #1ee1eb;
$greenblue-color: #11d4a7;
$green-color: #14f682;

// Main styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  height: 100%;
  width: 100%;
}

.main{
  background-image: url(https://i.postimg.cc/2yX2vwTT/clouds-background-005.jpg);
  background-size: cover;
  height: 10% !important;
}



.navBar {
  width: 100vw;
}

.navButton {
  color: white !important;
}

.navTitle {
  color: white;
}

// <Main Grid>

.mainCard{
  border: none;
  overflow: scroll;
  height: 20em;
  width: auto;
}

.mainCDiv{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.mainGrid {
  display: grid;
  grid-template-areas: 
  "tp hm uv"
  "ws mp dt"
  ;
  padding: 10px;
}

.ws{
  grid-area: ws;
}

.humidity{
  grid-area: hm;
}

.uv{
  grid-area: uv;
}

.temp{
  grid-area: tp;
}

.map{
  grid-area: mp;
}

.detail{
  grid-area: dt;
}








// </Main Grid>



// <Card Styling>

@media (max-width: 768px) {
  .resText{
    font-size: 2vw;
  }
  .wind{
    font-size: 2vw 2vh;
  }
  .mainCDiv{
    font-size: 3vw 3vh;
    size: 10rem;
  }
}

.cardText{
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px;
}

.card-items{
  text-align: center;
  background-size: 75%;
}
h2{
  text-align: center;
}

p{
  text-align: center;
}

svg{
  text-align: center;
}

// </Card Styling>


.navName{
  color: white;
}

.footer {
  background-color: #1474F6;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100% !important;
}

p {
  a {
    color: white;
  }
}


.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box{
  width: 200px;
  height: 200px;
  border: black 1px solid;
}

.calendar{
  width: auto;
  margin-top: 20px;
  
}

.card-header{
  background-color: grey !important;
  color: white;
  font-size: 20px !important;
}

.weekly{
  background-color: rgb(25, 247, 228);
  border-radius: 15px;
  border: black 1px solid;
}

.weeklyContainer{
  border-radius: 15px;
}

.box-rest{
  border: none !important;
  border-left: 1px solid black !important;
}

.box-first{
  border: none !important;
  border-right: 1px solid black !important;
}

.box-last{
  border: none !important;
  border-left: 1px solid black !important;
}

.graphThing{
  background-color: white;
}

.box{
  height: auto;
}

.iconThing{
  margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00193b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e4899; 
}



  .dropdown-menu-center{
    text-align: center !important;
    width: 10%;
    align-items: center;

    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: blue;
  }

  li{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

.dropdownToggle{
  margin-bottom: 25px !important;
}

.hourlyContainer{
  border: 2px black solid;
  margin: 0 auto;
  padding: 25px;
  background-image: url(https://i.postimg.cc/2yX2vwTT/clouds-background-005.jpg);
  background-size: cover;
}

#hourlyCard{
  width: auto;
  margin: 1% auto !important;
  display: flex;
}

#hourlyTitle{
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  width: 25%;
  margin: 1% auto;
}
#text{
  font-size: large;
}

#card-flex{
  #hour{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
  }
}

.card-items{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.title-cards{
  font-size: large; 
  justify-content: space-between;
}

.hourly-cards{
  display: flex;
}

.hourly-item{
  justify-content: space-between;
  margin: 7px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: static;
}

@media (max-width: 768px) {
  .cmain{
    height: 5% !important;
  }
}

.windCard{
  width: 5rem;
  height: 5rem;
}

.wind{
  background: transparent !important;
  border: none;
}

#windCard{
  background: transparent !important;
}

