// Main vars

$main-font: sans-serif;
// Colors
$darkblue-color: #1474f6;
$midblue-color: #1197d4;
$lightblue-color: #1ee1eb;
$greenblue-color: #11d4a7;
$green-color: #14f682;

// Main styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  height: 100%;
  width: 100%;
}

.navBar {
  width: 100%;
}

.navButton {
  color: white !important;
}

.navTitle {
  color: white;
}

.card {
  border: none !important;
  margin: 25px;
  width: 25%;
  text-align: center;

  .card-body {
    border: 2px black solid;
    border-radius: 10px;
  }
}

.temp {
  display: flex;
}

.footer {
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100% !important;
}

p {
  a {
    color: white;
  }
}

.main2 {
  display: flex;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box{
  width: 200px;
  height: 200px;
  border: black 1px solid;
}

.calendar{
  width: auto;
  margin-top: 20px;
}

.card-header{
  background-color: grey !important;
  color: white;
  font-size: 20px !important;
}

