// Main vars

$main-font: sans-serif;
// Colors
$darkblue-color: #1474f6;
$midblue-color: #1197d4;
$lightblue-color: #1ee1eb;
$greenblue-color: #11d4a7;
$green-color: #14f682;

// Main styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  height: 100%;
  width: 100%;
}

.main{
  background-image: url(https://i.postimg.cc/2yX2vwTT/clouds-background-005.jpg);
  background-size: cover;
  height: 10% !important;
}

.navBar {
  width: 100%;
}

.navButton {
  color: white !important;
}

.navTitle {
  color: white;
}

.card {
  border: none !important;
  margin: 25px;
  width: 25%;
  text-align: center;

  .card-body {
    border: 2px black solid;
    border-radius: 10px;
  }
}

.temp {
  display: flex;
}

.footer {
  background-color: #1474F6;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100% !important;
}

p {
  a {
    color: white;
  }
}

.main {
  display: flex;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box{
  width: 200px;
  height: 200px;
  border: black 1px solid;
}

.calendar{
  width: auto;
  margin-top: 20px;
}

.card-header{
  background-color: grey !important;
  color: white;
  font-size: 20px !important;
}

.weekly{
  background-color: rgb(25, 247, 228);
  border-radius: 15px;
  border: black 1px solid;
}

.weeklyContainer{
  border-radius: 15px;
}

.box-rest{
  border: none !important;
  border-left: 1px solid black !important;
}

.box-first{
  border: none !important;
  border-right: 1px solid black !important;
}

.box-last{
  border: none !important;
  border-left: 1px solid black !important;
}

.graphThing{
  background-color: white;
}

.box{
  height: auto;
}

.iconThing{
  margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00193b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e4899; 
}

